#hero {
    background-position: 0% 20%;
    background-image: url(/static/images/hero.jpg)
}

body {
    background-color: #f4f4f4;
}

body > header {
    background-color: #ffffff;
}

footer {
    color: #999999;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.page-wrapper {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}